[defaults]
stdout_callback = yaml
inventory = /mnt/c/Users/Vaibhav/gourmetgram-iac-1/ansible/inventory.yml
private_key_file = ~/.ssh/id_rsa_chameleon_35

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no \
           -o UserKnownHostsFile=/dev/null \
           -o ProxyCommand="ssh -i ~/.ssh/id_rsa_chameleon_35 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cc@129.114.25.100" \
           -i ~/.ssh/id_rsa_chameleon_35
