[defaults]
inventory = ./inventory.yml
stdout_callback = yaml
host_key_checking = False
retry_files_enabled = False
timeout = 30

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no \
           -o UserKnownHostsFile=/dev/null \
           -o ForwardAgent=yes \
           -o ProxyCommand="ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p cc@129.114.25.245"
